# TUPLES

In [2]:
# Empty Tuple
empty_tuple = ()

# Tuple with elements
numbers = (1,2,3,4,5)

#Tuple with mixed data
mixed_data = (1,"apple", False, 1.22)

# Single element tuple is necessary
single_element = (20,)    # comma(,) is necessary for single element

## COMMON TUPLE METHODS

In [5]:
my_tuple = (1,1,1,2,4,"Mango")
my_tuple.count(1)

3

In [7]:
my_tuple.index("Mango")

5

ACCESSING TUPLE ELEMENTS

In [12]:
tup1 = (10,20,30,40)

#Indexing
print(tup1[1])

#Slicing
print(tup1[1:3])

20
(20, 30)

TUPLE PACKING AND UNPACKING

In [15]:
#packing
person = ("Nikhil", 20, "Engineer")

#unpacking
name, age, profession = person
print(name)
print(age)

Nikhil
20